parameters:
    level: 9
    checkBenevolentUnionTypes: true
    checkImplicitMixed: true
    rememberPossiblyImpureFunctionValues: false
    paths:
        - bin/
        - config/
        - public/
        - src/
        - tests/
