@import "@tabler/core/src/scss/tabler.scss";
@import "@tabler/icons-webfont/tabler-icons.scss";

.hover-link:hover {
    scale: 1.1;
    text-shadow: 1px 2px 2px rgba(189, 185, 252, 0.795);
    font-weight: bolder;
    transition: 0.2s;
}

.default-size {
    min-width: auto;
    min-height: 400px;

}

.icon-size {
    font-size: 2em;
}

.table-conf {
    table-layout: fixed;
}

td {
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
}

.fixed {
    position: fixed;
    bottom: 0;
    width: 100%;
}
