$enable-negative-margins: true;

@import "@tabler/core/scss/tabler.scss";
@import "vanilla-cookieconsent/dist/cookieconsent.css";

.hover-link:hover {
    scale: 1.1;
    text-shadow: 1px 2px 2px rgba(189, 185, 252, 0.795);
    font-weight: bolder;
    transition: 0.2s;
}

.btn .icon:only-child {
    margin: 0;
}

.dashboard-card {
    .card-body {
        min-width: auto;
        min-height: 400px;

        table {
            margin: 0;

            tr {
                th,
                td {
                    padding: 0 .5rem;
                }
            }
        }
    }
}

.reference-map {
    min-width: auto;
    min-height: 400px;
}
