    .header-bg {
        background-image: linear-gradient(
            rgba(4, 14, 205, 0.6),
            rgba(65, 78, 220, 0.3)
          ),url(../../assets/images/header_bg2.png);
    }

    .footer-bg {
        background-image: linear-gradient(
            rgba(4, 14, 205, 0.6),
            rgba(65, 78, 220, 0.3)
          ),url(../../assets/images/header_bg2.png);
    }

    .hover-link:hover {
        scale: 1.1;
        text-shadow: 1px 2px 2px rgba(189, 185, 252, 0.795);
        font-weight: bolder;
        transition: 0.2s;
    }

    .pie-size {
        width: 300px;
        min-width: 100px;
        height: 400px;
        min-height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2px;
        box-shadow: 10px 5px 5px rgb(214, 204, 248);
    }

    .pie-size-rose {
        width: 300px;
        min-width: 100px;
        height: 500px;
        min-height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2px;
        box-shadow: 10px 5px 5px rgb(214, 204, 248);
    }

    .bar-size {
        width: 600px;
        min-width: 500px;
        height: 600px;
        min-height: 600px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2px;
        box-shadow: 10px 5px 5px rgb(214, 204, 248);
    }

    .icon-size {
        font-size: 2em;
    }

    .table-conf {
        table-layout: fixed;
    }

    td {
        overflow: hidden;
        white-space: normal;
        text-overflow: ellipsis;
    }