    .header-bg {
        background-image: linear-gradient(
            rgba(4, 14, 205, 0.6),
            rgba(65, 78, 220, 0.3)
          ),url(../../assets/images/header_bg2.png);
    }

    .footer-bg {
        background-image: linear-gradient(
            rgba(4, 14, 205, 0.6),
            rgba(65, 78, 220, 0.3)
          ),url(../../assets/images/header_bg2.png);
    }

    .hover-link:hover {
        scale: 1.1;
        text-shadow: 1px 2px 2px rgba(189, 185, 252, 0.795);
        font-weight: bolder;
        transition: 0.2s;
    }

    .default-size {
        min-width: auto;
        min-height: 300px;

    }

    .icon-size {
        font-size: 2em;
    }

    .table-conf {
        table-layout: fixed;
    }

    td {
        overflow: hidden;
        white-space: normal;
        text-overflow: ellipsis;
    }