<div class="d-flex justify-content-center py-2">
    <div class="col-sm-6 col-lg-6">
        <div class="card">
            <div class="card-body default-size" id="map_graph">
            </div>
        </div>
    </div>
</div>
