<div class="container-fluid bg-light p-3 my-3 rounded-3">

<div class="bg-white p-5 contact-form">
    <div class="form-group">
{{ form_start(form) }}
    {{ form_row(form.Email, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>

</div>
