<div class="page-header d-print-none">
    <div class="container-xl">

        <div class="row g-2 align-items-center">
            <div class="col">
                <div class="pre-title">DASHBOARD</div>
                <div class="page-title">Telemetry</div>
            </div>

            <div class="col-auto ms-auto d-print-none">
                <div class="form-floating">
                        <select class="form-select" id="dataPeriod" aria-label="select data period">
                            <option value="lastYear" selected>Last 12 month</option>
                            <option value="fiveYear">Five Last Years</option>
                            <option value="always">Always</option>
                            {# To do #}
                            {# <option value="advanced">Advanced option</option> #}
                        </select>
                        <label for="dataPeriod">
                        Select :
                        </label>
                    </div>
            </div>
        </div>
    </div>
</div>
