<div class="page-header d-print-none">
    <div class="container-xl mt-2">
        <div class="row g-2 align-items-center">
            <div class="col">
                <div class="page-title">Telemetry</div>
            </div>
            <div class="col-auto ms-auto d-print-none">
                <div class="form-floating">
                    <select class="form-select" id="dataPeriod" aria-label="select data period">
                        <option value="last-12-months" selected>Last 12 months</option>
                        <option value="last-5-years">Five Last Years</option>
                        <option value="always">Always</option>
                    </select>
                    <label for="dataPeriod">
                        Select :
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
