<div class="container-fluid bg-light p-3 my-3 rounded-3">
    <div class="row text-center">
        {% include 'telemetry/glpiversion.html.twig' %}
        {% include 'telemetry/webengine.html.twig' %}
        {% include 'telemetry/osfamily.html.twig' %}
    </div>
</div>
