<div class="page-body">
    <div class="container-xl">
        <div class="row row-deck row-cards">
            {% include 'telemetry/glpiversion.html.twig' %}
            {% include 'telemetry/phpinfos.html.twig' %}
            {% include 'telemetry/webengine.html.twig' %}
            {% include 'telemetry/osfamily.html.twig' %}
            {% include 'telemetry/topplugin.html.twig' %}
            {% include 'footer.html.twig' %}
        </div>
    </div>
</div>
