<div class="page-body">
    <div class="container-xl">
        <div class="row row-deck row-cards">
            {% include 'telemetry/glpiversion.html.twig' %}
            {% include 'telemetry/phpinfos.html.twig' %}
            {% include 'telemetry/webengine.html.twig' %}
            {% include 'telemetry/dbengines.html.twig' %}
            {% include 'telemetry/osfamily.html.twig' %}
            {% include 'telemetry/glpidefaultlanguages.html.twig' %}
            {% include 'telemetry/topplugin.html.twig' %}
            {% include 'telemetry/install_mode.html.twig' %}
        </div>
    </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    var modalButtons = document.querySelectorAll('.openModal');

    modalButtons.forEach(function(button) {
            let chartContainer = button.closest('.card').querySelector('.card-body');
            let chartId = chartContainer.id;
            let modalId = chartId + '_large';

            button.setAttribute('data-bs-toggle', 'modal');
            button.setAttribute('data-bs-target', '#' + modalId);

        button.addEventListener('click', function() {

            let modal = document.createElement('div');
            modal.innerHTML = `
                <div class="modal modal-blur fade" id="${modalId}" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Modal</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="chart-container" style="width: 675px; height: 500px"></div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-white" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            `;
            document.body.appendChild(modal);

            let chart = echarts.getInstanceByDom(chartContainer);
            let modalChartContainer = modal.querySelector('.chart-container');
            let modalChart = echarts.init(modalChartContainer);
            modalChart.setOption(chart.getOption());

        });
    });
});

</script>
