{% if app.request.get('_route') == 'app_telemetry' %}
    <header class="navbar navbar-expand-md d-print-none bg-white">
        <div class="container-xl">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu" aria-controls="navbar-menu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

                <h1 class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3">
                <a href=".">
                    <img src="{{ asset('build/images/GLPI_Logo-color.png') }}" width="110" height="32" alt="Tabler" class="navbar-brand-image">
                </a>
                </h1>

                    <div class="d-flex flex-column flex-md-row flex-fill align-item-stretch align-item-md-center">
                        <ul class= "navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_telemetry') }}">
                                    <span class="nav-link-icon d-md-none d-lg-inline-block">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chart-histogram" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                            <path d="M3 3v18h18"></path>
                                            <path d="M20 18v3"></path>
                                            <path d="M16 16v5"></path>
                                            <path d="M12 13v8"></path>
                                            <path d="M8 16v5"></path>
                                            <path d="M3 11c6 0 5 -5 9 -5s3 5 9 5"></path>
                                        </svg>
                                    </span>
                                    <span class="nav-link-title"> Telemetry </span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_reference') }}">
                                    <span class="nav-link-icon d-md-none d-lg-inline-block">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-star" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                            <path d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"></path>
                                            </svg>
                                    </span>
                                    <span class="nav-link-title"> References </span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_contact') }}">
                                    <span class="nav-link-icon d-md-none d-lg-inline-block">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-mail" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                            <path d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z"></path>
                                            <path d="M3 7l9 6l9 -6"></path>
                                        </svg>
                                    </span>
                                    <span class="nav-link-title"> Contact </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                {# <div class="p-2">
                        <p class="mb-0">Since version 9.2 of GLPI, we collect anonymous data from instance of voluntary users. Here is some representations of these data.</p>
                </div> #}
        </div>
    </header>
{% endif %}
{% if app.request.get('_route') == 'app_reference' %}
    <div class="container-fluid header-bg py-5 px-4 border-top border-bottom d-flex flex-column align-items-start">
        <div class="d-flex flex-row">
            <span class="material-symbols-outlined p-2 icon-size">
                groups
            </span>
                <h1 class="ps-2">References</h1>
        </div>
                    <div class="p-2">
                        <p class="mb-0">We maintain a public database of registered GLPI installations. You may want to register your own ?</p>
                            <button type="button" class="btn btn-primary pt-1 pb-1 mt-2" data-bs-toggle="modal" data-bs-target="#registerModal">Register !</button>
                                {% include 'reference/registerModal.html.twig' %}
                    </div>
    </div>
{% endif %}
{% if app.request.get('_route') == 'app_contact' %}
    <div class="container-fluid header-bg py-5 px-4 border-top border-bottom d-flex flex-column align-items-start">
        <div class="d-flex flex-row">
            <span class="material-symbols-outlined p-2 icon-size">
                mail
            </span>
                <h1 class="ps-2">Contact</h1>
        </div>
                    <div class="p-2">
                        <p class="mb-0">Send us a message about this site, the project or anything about glpi !</div>
                    </div>
    </div>
{% endif %}

