<div class="container-fluid header-bg py-5 px-4 border-top border-bottom d-flex align-items-center">
    <span class="material-symbols-outlined p-2 icon-size">
        monitoring
    </span>
    <h1 class="ps-2">Telemetry</h1>
</div>