<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="https://glpi-project.org/fr/" target="_blank">
    <img class="p-3" src="{{ asset('build/images/GLPI_Logo-color.png') }}" alt="GLPI logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link hover-link" aria-current="page" href="{{ path('app_telemetry') }}">Telemetry</a>
        </li>
        <li class="nav-item">
          <a class="nav-link hover-link" href="{{ path('app_reference') }}">References</a>
        </li>
        <li class="nav-item">
          <a class="nav-link hover-link" href="{{ path('app_contact') }}">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>