{% include 'telemetry/glpidefaultlanguages-modal.html.twig' %}
    <div class="col-sm-6 col-lg-4">
        <div class="card">
            <div class="d-flex flex-row-reverse p-2 pb-0">
                <button type="button" class="btn p-1" id="glpi_default_languages_lg" data-bs-toggle="modal" data-bs-target="#glpidefaultlanguagesModal">
                    <i class="ti ti-arrows-maximize"></i>
                </button>
            </div>
            <div class="card-body default-size pt-0" id="glpi_default_languages">
            </div>
        </div>
    </div>

<script>
window.addEventListener("DOMContentLoaded", (event) => {

    var chartDom = document.getElementById("glpi_default_languages");
    var myChart = echarts.init(chartDom);

    var largeChartDom = document.getElementById("glpi_default_languages_large");
    var largeChart = echarts.init(largeChartDom);

    option = {
        title: {
            text: 'GLPI default languages',
            left: 'center'
        },
        tooltip: {
            formatter: '{b}: {d}%'
        },
        series: [
            {
            type: 'pie',
            radius: ['15%', '50%'],
            itemStyle: {
                borderRadius: 5
            },
            data: []
            }
        ]
    };
    option && myChart.setOption(option);
    option && largeChart.setOption(option);

    window.registerFilterCallback(function (filters) {
        var url = 'glpi/default/languages?' + new URLSearchParams(filters);
        var arrayObj = [];

        fetch(url, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            },
        })
        .then(response => {
            return response.json();
        })
        .then(json => {
            window.clearResults();
            window.registerResults(json);
            console.log(json);
            myChart.setOption({series:[{data:json}]});
            largeChart.setOption({series:[{data:json}]});
        })
        .catch(error => {
            console.error('an error occured: ', error);
        });

    })

})
</script>