{% include 'telemetry/glpiversion-modal.html.twig' %}
<div class="col-sm-6 col-lg-6">
    <div class="card">
        <div class="d-flex flex-row-reverse p-2 pb-0">
            <button type="button" class="btn p-1" id="glpi_version_lg" data-bs-toggle="modal" data-bs-target="#chartModal">
                <i class="ti ti-arrows-maximize"></i>
            </button>
        </div>
        <div class="card-body default-size pt-0" id="glpi_version">
        </div>
    </div>
</div>

<script>
window.addEventListener("DOMContentLoaded", (event) => {
    var chartDom = document.getElementById("glpi_version");
    var myChart = echarts.init(chartDom);

    var largeChartDom = document.getElementById("glpi_version_large");
    var largeChart = echarts.init(largeChartDom);

    var option;

    option = {
        title: {
            text: 'Number of unique GLPI instances reported by version',
            left: 'center',
            textStyle: {
                fontSize: 15
            }
        },
        tooltip: {
            trigger: 'axis',
            axisPointer: {
            type: 'shadow'
            }
        },
        legend: {
            orient: 'horizontal',
            top: 25,
            textStyle: {
                fontSize: 12
            }
        },
        grid: {
            left: '3%',
            right: '3%',
            bottom: '2%',
            containLabel: true
        },
        yAxis: {
            type: 'value'
        },
        xAxis: {
            type: 'category',
            axisTick: {
                alignWithLabel: true
            },
            axisLabel: {
            rotate: 30
        },
            data: []
        },
        series: []
    };

    option && myChart.setOption(option);
    option && largeChart.setOption(option);

        window.registerFilterCallback(function (filters) {
            var url = 'glpi/version?' + new URLSearchParams(filters);
            console.log(url);
            var arrayObj = [];
                fetch(url, {
                    method: 'GET',
                    headers: {
                    'Content-Type': 'application/json'
                },
                })
                .then(response => {
                    return response.json();
                })
                .then(json => {
                    window.clearResults();
                    window.registerResults(json);
                    console.log(json);
                    myChart.setOption({
                        xAxis: {data: json.xAxis.data},
                        series: json.series,
                    });
                    largeChart.setOption({
                        xAxis: {data: json.xAxis.data},
                        series: json.series,
                    });
                })
                .catch(error => {
                    console.error('an error occured: ', error);
                });

        });
});

</script>