<div id="glpi_version" class="card pie-size"></div>

<script>
window.addEventListener("DOMContentLoaded", (event) => {
    var chartDom = document.getElementById("glpi_version");
    var myChart = echarts.init(chartDom, 'westeros');
    var option;

    option = {
        title: {
            text: 'GLPI Versions',
            left: 'center'
        },
        tooltip: {
            trigger: 'item'
        },
        series: [
            {
            name: 'version users',
            type: 'pie',
            radius: ['30%', '70%'],
            avoidLabelOverlap: false,
            itemStyle: {
                borderRadius: 10,
                borderColor: '#fff',
                borderWidth: 2
            },
            label: {
                show: false,
                position: 'center'
            },
            emphasis: {
                label: {
                show: true,
                fontSize: 40,
                fontWeight: 'bold'
                }
            },
            labelLine: {
                show: false
            },
            data: []
            }
        ]
    };
    option && myChart.setOption(option);

        window.registerFilterCallback(function (filters) {
        var url = 'glpi/version?' + new URLSearchParams(filters);
        console.log(url);
        var arrayObj = [];

        fetch(url, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            },
        })
        .then(response => {
            return response.json();
        })
        .then(json => {
            window.clearResults();
            window.registerResults(json);
            console.log(json);
            myChart.setOption({series:[{data:json}]});
        })
        .catch(error => {
            console.error('an error occured: ', error);
        });

    })

});
</script>