<div class="col-sm-6 col-lg-6">
    <div class="card">
        <div class="card-body default-size" id="glpi_version">
        </div>
    </div>
</div>

<script>
window.addEventListener("DOMContentLoaded", (event) => {
    var chartDom = document.getElementById("glpi_version");
    var myChart = echarts.init(chartDom);
    var option;

    option = {
        tooltip: {
            trigger: 'axis',
            axisPointer: {
            // Use axis to trigger tooltip
            type: 'shadow' // 'shadow' as default; can also be 'line' or 'shadow'
            }
        },
        legend: {},
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        yAxis: {
            type: 'value'
        },
        xAxis: {
            type: 'category',
            axisTick: {
                alignWithLabel: true
            },
            axisLabel: {
            rotate: 30
        },
            data: []
        },
        series: []
    };

    option && myChart.setOption(option);

        window.registerFilterCallback(function (filters) {
            var url = 'glpi/version?' + new URLSearchParams(filters);
            console.log(url);
            var arrayObj = [];
                fetch(url, {
                    method: 'GET',
                    headers: {
                    'Content-Type': 'application/json'
                },
                })
                .then(response => {
                    return response.json();
                })
                .then(json => {
                    window.clearResults();
                    window.registerResults(json);
                    console.log(json);
                    var usersByVersion = getUsersByVersion(json);
                    var chartData = getChartData(json);
                    myChart.setOption({
                        xAxis: chartData.xAxis,
                        series: chartData.series,
                    });

                })
                .catch(error => {
                    console.error('an error occured: ', error);
                });

        })

        function getUsersByVersion(json) {
            const result = {};

            json.sort((a, b) => {
                console.log('sorting array by date');
                const dateA = new Date(a.month_year);
                const dateB = new Date(b.month_year);
                return dateA - dateB;
            });

            for (let i = 0; i < json.length; i++) {
                const item = json[i];
                const version = item.version;
                const monthYear = item.month_year;

                if (!result[monthYear]) {
                    result[monthYear] = {};
                }

                if (!result[monthYear][version]) {
                    result[monthYear][version] = 0;
                }

                result[monthYear][version] += item.users;
            }

            return result;
        }

        function getChartData(json) {
            const usersByVersion = getUsersByVersion(json);
            console.log(usersByVersion);
            const data = [];
            const series = [];

            // Parcours des clés de usersByVersion pour construire les données de l'axe X
            for (const monthYear in usersByVersion) {
                data.push(monthYear);
                console.log(monthYear);
            }

            // Parcours des versions pour construire les séries
            for (const version of Object.keys(usersByVersion[data[0]])) {
                console.log(version);
                const serie = {
                    name: version,
                    type: 'bar',
                    stack: 'total',
                    label: {
                    show: false,
                    },
                    emphasis: {
                    focus: 'series',
                    },
                    data: [],
                };

                // Parcours des clés de usersByVersion pour construire les données de la série
                for (const monthYear of data) {
                    serie.data.push(usersByVersion[monthYear][version] || 0);
                }

                series.push(serie);
            }

            return {
                xAxis: {
                    type: 'category',
                    axisTick: {
                        alignWithLabel: true,
                    },
                    axisLabel: {
                        rotate: 30,
                    },
                    data: data,
                },
                series: series,
            };
        }

});
</script>