{% include 'telemetry/phpinfos-modal.html.twig' %}
<div class="col-sm-6 col-lg-6">
    <div class="card">
        <div class="d-flex flex-row-reverse p-2 pb-0">
            <button type="button" class="btn p-1" id="php_version_lg" data-bs-toggle="modal" data-bs-target="#phpversionModal">
                <i class="ti ti-arrows-maximize"></i>
            </button>
        </div>
        <div class="card-body default-size pt-0" id="php_version">
        </div>
    </div>
</div>


<script>
window.addEventListener("DOMContentLoaded", (event) => {
    var chartDom = document.getElementById('php_version');
    var myChart = echarts.init(chartDom);

    var largeChartDom = document.getElementById("php_version_large");
    var largeChart = echarts.init(largeChartDom);

    var option;

    option = {
        title: {
            text: 'PHP Versions',
            left: 'center',
            textStyle: {
                fontSize: 15
            }
        },
        tooltip: {
            trigger: 'axis',
            axisPointer: {
            type: 'line'
            },
            formatter: function (params) {
                var res = params[0].name + '<br/>';
                var sum = 0;
                for (var i = 0, l = params.length; i < l; i++) {
                    sum += params[i].value;
                }
                for (var i = 0, l = params.length; i < l; i++) {
                    res += '<span style="display:inline-block;margin-right:5px;border-radius:10px;width:9px;height:9px;background-color:' + params[i].color + '"></span>' + params[i].seriesName + ' : ' + (params[i].value/sum*100).toFixed(2) + '%<br/>';
                }
                return res;
            },
        },
        grid: {
            left: '3%',
            right: '3%',
            bottom: '2%',
            containLabel: true
        },
        xAxis: [{
            type: 'category',
            axisTick: {
            alignWithLabel: true
            },
            axisLabel: {
            rotate: 30
            },
            data: []
        }],
        yAxis: [{
            type: 'value',
            axisLabel: {
                formatter: '{value} %'
            },
            min: 0,
            max: 100,
        }],
        series: []
    };

    option && myChart.setOption(option);
    option && largeChart.setOption(option);

 window.registerFilterCallback(function (filters) {
        var url = 'php/version?' + new URLSearchParams(filters);
        console.log(url);
        var arrayObj = [];

        fetch(url, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            },
        })
        .then(response => {
            return response.json();
        })
        .then(json => {
            window.clearResults();
            window.registerResults(json);
            console.log(json);
            myChart.setOption({
                xAxis: {data: json.xAxis.data},
                series: json.series,
            });
            largeChart.setOption({
                xAxis: {data: json.xAxis.data},
                series: json.series,
            });
        })
        .catch(error => {
            console.error('an error occured: ', error);
        });

    })
});
</script>