<div id="php_info" class="bar-size p-1 col border rounded-3 bg-white"></div>

<script>
window.addEventListener("DOMContentLoaded", (event) => {
    var chartDom = document.getElementById('php_info');
    var myChart = echarts.init(chartDom, 'westeros.js');
    var option;

    option = {
    title: {
        text: 'PHP Versions',
        left: 'center'
    },
    grid: {
        containLabel: true
    },
    xAxis: [{
        type: 'category',
        name: 'Version',
        axisTick: {
        alignWithLabel: true
        },
        axisLabel: {
        rotate: 30
        },
        data: []
    }],
    yAxis: [{
        type: 'value',
        name: 'Nb utilisateurs',
        min: 0,
        max: 100000
    }],
    series: [
        {
        name: 'Nb utilisateurs',
        type: 'bar',
        data: []
        }
    ]
    };

    option && myChart.setOption(option);

 window.registerFilterCallback(function (filters) {
        var url = 'php/version?' + new URLSearchParams(filters);
        console.log(url);
        var arrayObj = [];

        fetch(url, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            },
        })
        .then(response => {
            return response.json();
        })
        .then(json => {
            var phpdata = {
                "version": [],
                "values" : []
            }
            json.forEach((el) => {
                phpdata["version"].push(el.version)
                phpdata["values"].push(el.count)
            });
            console.log(phpdata);
            window.clearResults();
            window.registerResults(json);
            myChart.setOption({
                xAxis: [{
                    data: phpdata["version"]
                    }],
                series: [
                    {
                    data: phpdata["values"]
                    }
                ]
                });
        })
        .catch(error => {
            console.error('an error occured: ', error);
        });

    })
});
</script>