<div class="col-sm-6 col-lg-4">
    <div class="card">
        <div class="d-flex flex-row-reverse p-2 pb-0">
            <button type="button" class="btn p-1 openModal">
                <i class="ti ti-arrows-maximize"></i>
            </button>
        </div>
        <div class="card-body default-size pt-0" id="top_plugin">
        </div>
    </div>
</div>

<script>
window.addEventListener("DOMContentLoaded", (event) => {

    var chartDom = document.getElementById("top_plugin");
    var myChart = echarts.init(chartDom);

    option = {
        title: {
            text: 'Top 10 plugins',
            left: 'center',
        },
        series: [
            {
            name: 'Nightingale Chart',
            type: 'pie',
            top: 30,
            radius: [20, 70],
            avoidLabelOverlap: false,
            center: ['50%', '50%'],
            roseType: 'area',
            itemStyle: {
                borderRadius: 3
            },
        data: []
        }
        ]
    };

    option && myChart.setOption(option);

    window.registerFilterCallback(function (filters) {
        var url = 'top/plugin?' + new URLSearchParams(filters);

        fetch(url, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            },
        })
        .then(response => {
            return response.json();
        })
        .then(json => {
            myChart.setOption({series:[{data:json}]});
        })
        .catch(error => {
            console.error('an error occured: ', error);
        });

    })

})
</script>
