<div id="web_engine" class="pie-size p-1 col border rounded-3 bg-white"></div>

<script>
window.addEventListener("DOMContentLoaded", (event) => {
    const chartDom = document.getElementById("web_engine");
    const myChart = echarts.init(chartDom);
    option = {
        title: {
            text: 'Web engines',
            left: 'center'
        },
        tooltip: {
            trigger: 'item'
        },
        series: [
            {
            name: 'version users',
            type: 'pie',
            radius: ['40%', '70%'],
            avoidLabelOverlap: false,
            itemStyle: {
                borderRadius: 10,
                borderColor: '#fff',
                borderWidth: 2
            },
            label: {
                show: false,
                position: 'center'
            },
            emphasis: {
                label: {
                show: true,
                fontSize: 40,
                fontWeight: 'bold'
                }
            },
            labelLine: {
                show: false
            },
            data: [
                {% if wedata %}
                {% for row in wedata %}
                { value: {{ row.count }}, name: '{{ row.web_engine }}' },
                {% endfor %}
                {% else %}
                { value: 0, name: 'no data to display' },
                {% endif %}
            ]
            }
        ]
    };
    option && myChart.setOption(option);

});
</script>