<div class="col-sm-6 col-lg-3">
    <div class="card">
        <div class="d-flex flex-row-reverse p-2 pb-0">
            <button type="button" class="btn p-1" id="web_engine_lg" data-bs-toggle="modal" data-bs-target="#webengineModal">
                <i class="ti ti-arrows-maximize"></i>
            </button>
        </div>
        <div class="card-body default-size pt-0" id="web_engine">
        </div>
    </div>
</div>

<script>
window.addEventListener("DOMContentLoaded", (event) => {

    var dataSet = window.results;
    const chartDom = document.getElementById("web_engine");
    const myChart = echarts.init(chartDom);

    option = {
        title: {
            text: 'Web engines',
            left: 'center'
        },
        tooltip: {
            trigger: 'item'
        },
        series: [
            {
            name: 'version users',
            type: 'pie',
            radius: ['40%', '70%'],
            avoidLabelOverlap: false,
            itemStyle: {
                borderRadius: 10,
                borderColor: '#fff',
                borderWidth: 2
            },
            label: {
                show: false,
                position: 'center'
            },
            emphasis: {
                scale: true,
                scaleSize: 10,
            },
            labelLine: {
                show: false
            },
            data: [

            ]
            }
        ]
    };
    option && myChart.setOption(option);

    window.registerFilterCallback(function (filters) {
        var url = 'web/engines?' + new URLSearchParams(filters);
        var arrayObj = [];

        fetch(url, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            },
        })
        .then(response => {
            return response.json();
        })
        .then(json => {
            window.clearResults();
            window.registerResults(json);
            console.log(json);
            myChart.setOption({series:[{data:json}]});
        })
        .catch(error => {
            console.error('an error occured: ', error);
        });

    })

});
</script>